fastapi==0.115.12
uvicorn==0.34.0
pydantic[email]==2.11.3
pydantic-settings==2.8.1
python-jose==3.4.0
passlib==1.7.4
python-multipart==0.0.20
sqlalchemy==2.0.40
bcrypt==4.3.0
docker==7.1.0
python-dotenv==1.1.0
Jinja2==3.1.6
aiofiles==24.1.0